{%extends "base.html" %}
{% block js%}
<script src="/static/js/lib/highcharts.js"></script>
{% endblock %}
{%block container %}
   <div id="container" style="width:100%; height:400px;"></div>
   <script launage='javascript'>
   $(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: '最近一周食物销量图'
        },
        subtitle: {
            text: 'Click the slices to view versions.'
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [
              {% for food in data %}
              {'name': "{{ food.name }}", 'y': {{food.y*100}}, 'drilldown': "{{food.name}}", 
               'events': {
                  click: function(){
                    window.location.href="/get_single_relation?fid={{food.rid}}&rid={{restaurant_id}}"
                  }
                }
                }, 
              {% endfor %}
            ] 
        }],
        drilldown: {
            series: []
        }
    });
});
    </script>
{% endblock %}
